.u-section-1 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.55), rgba(0,0,0,0.55)), url("images/2236553.jpg");
}

.u-section-1 .u-sheet-1 {
  min-height: 920px;
}

.u-section-1 .u-text-1 {
  font-size: 3.75rem;
  font-weight: 700;
  margin: 267px 143px 0 199px;
}

.u-section-1 .u-text-2 {
  margin: 56px auto 0;
}

.u-section-1 .u-text-3 {
  margin: 30px 93px 0;
}

.u-section-1 .u-text-4 {
  margin: 310px 0 60px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 759px;
  }

  .u-section-1 .u-text-1 {
    width: 743px;
    margin-top: 208px;
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-1 .u-text-2 {
    width: auto;
    margin-top: 40px;
  }

  .u-section-1 .u-text-3 {
    margin-top: 40px;
    margin-left: 0;
    margin-right: 0;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 581px;
  }

  .u-section-1 .u-text-1 {
    width: 720px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 436px;
  }

  .u-section-1 .u-text-1 {
    font-size: 6rem;
    width: 540px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 275px;
  }

  .u-section-1 .u-text-1 {
    font-size: 3.75rem;
    width: 340px;
  }
}.u-section-2 {
  background-image: linear-gradient(#f5f7fa, #e9f2fa);
}

.u-section-2 .u-sheet-1 {
  min-height: 514px;
}

.u-section-2 .u-shape-1 {
  height: 100px;
  margin: 3px 0 0 auto;
}

.u-section-2 .u-text-1 {
  font-size: 3rem;
  margin: -79px 0 0;
}

.u-section-2 .u-text-2 {
  font-size: 2.25rem;
  margin: 44px 940px 0 0;
}

.u-section-2 .u-text-3 {
  margin: 23px 0 3px;
}

@media (max-width: 1199px) {
  .u-section-2 .u-shape-1 {
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-2 .u-text-2 {
    margin-right: 740px;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-text-2 {
    margin-right: 520px;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-text-2 {
    margin-right: 340px;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-sheet-1 {
    min-height: 1239px;
  }

  .u-section-2 .u-shape-1 {
    height: 118px;
    margin-top: 4px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-2 .u-text-1 {
    margin-top: -115px;
    font-size: 1.5rem;
  }

  .u-section-2 .u-text-2 {
    width: auto;
    margin-top: 15px;
    margin-right: 140px;
  }

  .u-section-2 .u-text-3 {
    margin-top: 0;
    margin-bottom: 4px;
  }
}.u-section-3 {
  background-image: linear-gradient(#e9f2fa, #e9f2fa);
}

.u-section-3 .u-sheet-1 {
  min-height: 2109px;
}

.u-section-3 .u-text-1 {
  font-size: 2.25rem;
  margin: 22px 636px 0 0;
}

.u-section-3 .u-text-2 {
  font-size: 1.875rem;
  margin: 22px 970px 0 0;
}

.u-section-3 .u-text-3 {
  font-size: 1.25rem;
  margin: 20px 290px 0 0;
}

.u-section-3 .u-btn-1 {
  padding: 0;
}

.u-section-3 .u-image-1 {
  width: 533px;
  height: 374px;
  margin: 21px 0 0 auto;
}

.u-section-3 .u-image-2 {
  width: 543px;
  height: 374px;
  margin: -374px auto 0 0;
}

.u-section-3 .u-text-4 {
  margin: 21px 607px 0 0;
}

.u-section-3 .u-text-5 {
  margin: -22px 0 0 607px;
}

.u-section-3 .u-text-6 {
  font-size: 1.25rem;
  margin: 21px 0 0;
}

.u-section-3 .u-video-1 {
  height: 360px;
  width: 640px;
  filter: brightness(0.95);
  margin: 36px auto 0;
}

.u-section-3 .u-text-7 {
  width: 318px;
  margin: 22px auto 0;
}

.u-section-3 .u-text-8 {
  font-size: 1.875rem;
  margin: 20px 794px 0 8px;
}

.u-section-3 .u-text-9 {
  font-size: 1.25rem;
  margin: 18px 0 0;
}

.u-section-3 .u-btn-2 {
  padding: 0;
}

.u-section-3 .u-video-2 {
  height: 360px;
  width: 640px;
  filter: brightness(0.85);
  margin: 22px auto 0;
}

.u-section-3 .u-text-10 {
  width: 318px;
  margin: 22px auto;
}

@media (max-width: 1199px) {
  .u-section-3 .u-sheet-1 {
    min-height: 1909px;
  }

  .u-section-3 .u-text-1 {
    width: auto;
    margin-top: 19px;
    margin-right: 436px;
  }

  .u-section-3 .u-text-2 {
    width: auto;
    margin-top: 18px;
    margin-right: 770px;
  }

  .u-section-3 .u-text-3 {
    width: auto;
    margin-right: 90px;
  }

  .u-section-3 .u-image-1 {
    width: 436px;
    height: 281px;
    margin-top: 11px;
    margin-right: auto;
    margin-left: 0;
  }

  .u-section-3 .u-image-2 {
    width: 388px;
    height: 281px;
    margin-top: -281px;
    margin-right: 0;
    margin-left: auto;
  }

  .u-section-3 .u-text-4 {
    width: auto;
    margin-top: 11px;
    margin-right: 504px;
  }

  .u-section-3 .u-text-5 {
    width: auto;
    margin-left: 552px;
  }

  .u-section-3 .u-text-6 {
    margin-top: 11px;
  }

  .u-section-3 .u-video-1 {
    margin-top: 11px;
  }

  .u-section-3 .u-text-7 {
    margin-top: 11px;
  }

  .u-section-3 .u-text-8 {
    margin-top: 11px;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-3 .u-video-2 {
    margin-top: 11px;
  }

  .u-section-3 .u-text-10 {
    width: auto;
    margin: 11px 300px 19px 322px;
  }
}

@media (max-width: 991px) {
  .u-section-3 .u-text-1 {
    margin-right: 216px;
  }

  .u-section-3 .u-text-2 {
    margin-right: 550px;
  }

  .u-section-3 .u-text-3 {
    margin-right: 0;
  }

  .u-section-3 .u-image-2 {
    margin-right: auto;
    margin-left: 0;
  }

  .u-section-3 .u-text-4 {
    margin-right: 284px;
  }

  .u-section-3 .u-text-5 {
    margin-right: 284px;
    margin-left: 0;
  }

  .u-section-3 .u-text-8 {
    width: auto;
    margin-right: 382px;
  }

  .u-section-3 .u-text-10 {
    margin-right: 190px;
    margin-left: 212px;
  }
}

@media (max-width: 767px) {
  .u-section-3 .u-sheet-1 {
    min-height: 2107px;
  }

  .u-section-3 .u-text-1 {
    margin-right: 36px;
  }

  .u-section-3 .u-text-2 {
    margin-right: 370px;
  }

  .u-section-3 .u-image-2 {
    margin-top: 20px;
  }

  .u-section-3 .u-text-4 {
    margin-right: auto;
  }

  .u-section-3 .u-text-5 {
    margin-top: 20px;
    margin-right: auto;
  }

  .u-section-3 .u-video-1 {
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-3 .u-text-8 {
    margin-right: 0;
    margin-left: 163px;
  }

  .u-section-3 .u-text-9 {
    margin-left: 163px;
  }

  .u-section-3 .u-video-2 {
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-3 .u-text-10 {
    margin-right: 100px;
    margin-left: 122px;
  }
}

@media (max-width: 575px) {
  .u-section-3 .u-sheet-1 {
    min-height: 1834px;
  }

  .u-section-3 .u-text-1 {
    margin-right: 0;
  }

  .u-section-3 .u-text-2 {
    margin-right: 170px;
  }

  .u-section-3 .u-image-1 {
    width: 340px;
    height: 219px;
    margin-right: 0;
    margin-left: auto;
  }

  .u-section-3 .u-image-2 {
    height: 246px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-3 .u-text-8 {
    margin-left: 0;
  }

  .u-section-3 .u-text-9 {
    margin-left: 0;
  }

  .u-section-3 .u-text-10 {
    margin-right: 0;
    margin-left: 22px;
  }
}.u-section-4 {
  background-image: linear-gradient(#e9f2fa, #adcce9);
}

.u-section-4 .u-sheet-1 {
  min-height: 1330px;
}

.u-section-4 .u-text-1 {
  font-size: 1.875rem;
  margin: 21px 910px 0 0;
}

.u-section-4 .u-text-2 {
  font-size: 1.25rem;
  margin: 20px 218px 0 0;
}

.u-section-4 .u-btn-1 {
  padding: 0;
}

.u-section-4 .u-image-1 {
  width: 383px;
  height: 355px;
  margin: 30px auto 0 111px;
}

.u-section-4 .u-image-2 {
  width: 382px;
  height: 355px;
  margin: -355px 111px 0 auto;
}

.u-section-4 .u-text-3 {
  margin: 19px 253px 0 786px;
}

.u-section-4 .u-text-4 {
  margin: -22px 788px 0 254px;
}

.u-section-4 .u-text-5 {
  font-size: 1.25rem;
  margin: 20px 324px 0 0;
}

.u-section-4 .u-image-3 {
  width: 119px;
  height: 50px;
  margin: -41px auto 0 401px;
}

.u-section-4 .u-image-4 {
  width: 274px;
  height: 253px;
  animation-duration: 1000ms;
  margin: -50px 0 0 auto;
}

.u-section-4 .u-image-5 {
  width: 570px;
  height: 578px;
  margin: -176px auto 0;
}

.u-section-4 .u-group-1 {
  width: 174px;
  min-height: 66px;
  margin: -543px 331px 0 auto;
}

.u-section-4 .u-container-layout-1 {
  padding: 30px 30px 9px 3px;
}

.u-section-4 .u-text-6 {
  font-size: 0.75rem;
  margin: -19px -24px 0 -3px;
}

.u-section-4 .u-group-2 {
  width: 154px;
  background-image: none;
  min-height: 53px;
  margin: 57px auto 0 76px;
}

.u-section-4 .u-container-layout-2 {
  padding: 3px 30px 9px;
}

.u-section-4 .u-text-7 {
  font-size: 0.75rem;
  margin: -3px 6px 0;
}

.u-section-4 .u-group-3 {
  width: 222px;
  min-height: 56px;
  margin: 158px auto 0 19px;
}

.u-section-4 .u-container-layout-3 {
  padding: 13px 30px;
}

.u-section-4 .u-text-8 {
  font-size: 0.75rem;
  margin: -2px -11px 0;
}

.u-section-4 .u-group-4 {
  width: 178px;
  min-height: 50px;
  margin: -175px 305px 0 auto;
}

.u-section-4 .u-container-layout-4 {
  padding: 2px 22px 5px 30px;
}

.u-section-4 .u-text-9 {
  font-size: 0.75rem;
  margin: 0;
}

.u-section-4 .u-text-10 {
  width: 193px;
  margin: 295px auto 0;
}

.u-section-4 .u-group-5 {
  width: 222px;
  min-height: 56px;
  margin: 1px auto 20px 22px;
}

.u-section-4 .u-container-layout-5 {
  padding: 13px 30px;
}

.u-section-4 .u-text-11 {
  font-size: 0.75rem;
  margin: 0 -11px;
}

.u-section-4 .u-line-1 {
  width: 132px;
  transform-origin: left center 0px;
  position: absolute;
  left: 203px;
  top: 1252px;
  transform: rotate(328deg);
}

.u-section-4 .u-line-2 {
  width: 133px;
  left: 224px;
  top: 813px;
  transform-origin: left center 0px;
  position: absolute;
  transform: rotate(16deg);
}

.u-section-4 .u-line-3 {
  transform-origin: center bottom 0px;
  position: absolute;
  top: 658px;
  left: auto;
  height: 54px;
  right: 504px;
  transform: rotate(218deg);
}

.u-section-4 .u-line-4 {
  width: 66px;
  transform-origin: left center 0px;
  position: absolute;
  left: 240px;
  top: 1014px;
  transform: rotate(354deg);
}

.u-section-4 .u-line-5 {
  width: 91px;
  left: auto;
  top: 829px;
  transform-origin: left center 0px;
  position: absolute;
  transform: rotate(39deg);
  right: 458px;
}

@media (max-width: 1199px) {
  .u-section-4 .u-text-1 {
    width: auto;
    margin-top: 25px;
    margin-right: 674px;
  }

  .u-section-4 .u-text-2 {
    margin-top: 21px;
    margin-right: 0;
  }

  .u-section-4 .u-image-1 {
    width: 369px;
    margin-right: 40px;
    margin-left: auto;
  }

  .u-section-4 .u-image-2 {
    width: 360px;
    margin-right: auto;
    margin-left: 40px;
  }

  .u-section-4 .u-text-3 {
    width: auto;
    margin-top: 10px;
    margin-right: 173px;
    margin-left: 665px;
  }

  .u-section-4 .u-text-4 {
    width: auto;
    margin-right: 667px;
    margin-left: 167px;
  }

  .u-section-4 .u-text-5 {
    margin-top: 18px;
    margin-right: 0;
  }

  .u-section-4 .u-image-3 {
    margin-left: auto;
  }

  .u-section-4 .u-image-4 {
    width: 183px;
    height: 169px;
    margin-top: -9px;
  }

  .u-section-4 .u-image-5 {
    margin-top: -112px;
  }

  .u-section-4 .u-group-1 {
    margin-top: -544px;
    margin-right: 267px;
  }

  .u-section-4 .u-group-2 {
    min-height: 36px;
    margin-top: 101px;
    margin-left: 19px;
  }

  .u-section-4 .u-text-7 {
    margin-top: -1px;
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-4 .u-group-3 {
    width: 217px;
    min-height: 48px;
    margin-top: 177px;
    margin-left: 0;
  }

  .u-section-4 .u-container-layout-3 {
    padding-top: 2px;
    padding-right: 3px;
    padding-bottom: 0;
  }

  .u-section-4 .u-text-8 {
    width: auto;
    margin-top: 2px;
    margin-right: 19px;
    margin-left: 0;
  }

  .u-section-4 .u-group-4 {
    margin-top: -217px;
    margin-right: 292px;
  }

  .u-section-4 .u-text-10 {
    margin-top: 312px;
  }

  .u-section-4 .u-group-5 {
    width: 217px;
    min-height: 42px;
    margin-top: -4px;
    margin-bottom: 23px;
    margin-left: 0;
  }

  .u-section-4 .u-container-layout-5 {
    padding-top: 9px;
    padding-bottom: 7px;
  }

  .u-section-4 .u-text-11 {
    margin-top: 1px;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-4 .u-line-1 {
    width: 107px;
    left: 137px;
    top: 1265px;
    transform: rotate(325deg);
  }

  .u-section-4 .u-line-2 {
    width: 62px;
    left: 141px;
    top: 874px;
  }

  .u-section-4 .u-line-3 {
    top: 666px;
    right: 435px;
  }

  .u-section-4 .u-line-4 {
    width: 82px;
    left: 137px;
    top: 1054px;
    transform: rotate(336deg);
  }

  .u-section-4 .u-line-5 {
    left: 400px;
    top: 843px;
  }
}

@media (max-width: 991px) {
  .u-section-4 {
    min-height: 1394px;
  }

  .u-section-4 .u-text-1 {
    margin-right: 700px;
    margin-left: 210px;
  }

  .u-section-4 .u-text-2 {
    margin-left: 210px;
    margin-right: 210px;
  }

  .u-section-4 .u-image-1 {
    width: 300px;
    margin-right: 210px;
  }

  .u-section-4 .u-image-2 {
    width: 255px;
    margin-top: 20px;
    margin-right: 210px;
    margin-left: auto;
  }

  .u-section-4 .u-text-3 {
    margin-right: 253px;
    margin-left: 786px;
  }

  .u-section-4 .u-text-4 {
    margin-right: 788px;
    margin-left: 254px;
  }

  .u-section-4 .u-text-5 {
    margin-left: 210px;
    margin-right: 210px;
  }

  .u-section-4 .u-image-3 {
    margin-right: 410px;
  }

  .u-section-4 .u-image-4 {
    margin-top: 20px;
    margin-right: 410px;
  }

  .u-section-4 .u-image-5 {
    margin-top: 20px;
    margin-right: 410px;
  }

  .u-section-4 .u-group-1 {
    margin-right: auto;
    margin-left: 425px;
  }

  .u-section-4 .u-group-2 {
    margin-left: 286px;
  }

  .u-section-4 .u-group-3 {
    margin-left: 269px;
  }

  .u-section-4 .u-text-8 {
    margin-right: 57px;
  }

  .u-section-4 .u-group-4 {
    margin-top: 20px;
    margin-right: auto;
    margin-left: 269px;
  }

  .u-section-4 .u-text-10 {
    margin-left: 474px;
    margin-right: 474px;
  }

  .u-section-4 .u-group-5 {
    margin: 20px 474px 19px;
  }

  .u-section-4 .u-text-11 {
    margin-right: 57px;
  }

  .u-section-4 .u-line-3 {
    width: 120px;
  }
}

@media (max-width: 767px) {
  .u-section-4 {
    min-height: 1364px;
  }

  .u-section-4 .u-sheet-1 {
    min-height: 1300px;
  }

  .u-section-4 .u-text-1 {
    margin-right: 610px;
    margin-left: 300px;
  }

  .u-section-4 .u-text-2 {
    margin-left: 300px;
    margin-right: 300px;
  }

  .u-section-4 .u-image-1 {
    margin-right: 300px;
  }

  .u-section-4 .u-image-2 {
    margin-right: 300px;
  }

  .u-section-4 .u-text-3 {
    margin-right: 300px;
    margin-left: 739px;
  }

  .u-section-4 .u-text-4 {
    margin-right: 742px;
    margin-left: 300px;
  }

  .u-section-4 .u-text-5 {
    margin-left: 300px;
    margin-right: 300px;
  }

  .u-section-4 .u-image-3 {
    margin-right: 320px;
  }

  .u-section-4 .u-image-4 {
    margin-right: 320px;
  }

  .u-section-4 .u-image-5 {
    height: 547px;
    margin-right: 320px;
  }

  .u-section-4 .u-group-1 {
    margin-top: -514px;
    margin-left: 335px;
  }

  .u-section-4 .u-container-layout-1 {
    padding-right: 10px;
  }

  .u-section-4 .u-group-2 {
    margin-left: 376px;
  }

  .u-section-4 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-4 .u-group-3 {
    margin-left: 359px;
  }

  .u-section-4 .u-container-layout-3 {
    padding-left: 10px;
  }

  .u-section-4 .u-text-8 {
    margin-right: 43px;
  }

  .u-section-4 .u-group-4 {
    margin-left: 359px;
  }

  .u-section-4 .u-container-layout-4 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-4 .u-group-5 {
    margin-bottom: 23px;
  }

  .u-section-4 .u-container-layout-5 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-4 .u-text-11 {
    margin-right: 43px;
  }
}

@media (max-width: 575px) {
  .u-section-4 {
    min-height: 1161px;
  }

  .u-section-4 .u-sheet-1 {
    min-height: 1018px;
  }

  .u-section-4 .u-text-1 {
    margin-top: 10px;
    margin-right: 112px;
    margin-left: 0;
  }

  .u-section-4 .u-text-2 {
    margin-top: 10px;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-4 .u-image-1 {
    height: 315px;
    margin-top: 10px;
    margin-right: auto;
  }

  .u-section-4 .u-image-2 {
    width: 298px;
    height: 289px;
    margin-top: 44px;
    margin-right: auto;
  }

  .u-section-4 .u-text-3 {
    width: 101px;
    margin-top: 0;
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-4 .u-text-4 {
    width: 95px;
    margin-top: -355px;
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-4 .u-text-5 {
    margin-top: 351px;
    margin-left: 1px;
    margin-right: 1px;
  }

  .u-section-4 .u-image-3 {
    width: 104px;
    height: 43px;
    margin-top: -70px;
    margin-right: 84px;
  }

  .u-section-4 .u-image-4 {
    margin-top: 28px;
    margin-right: auto;
  }

  .u-section-4 .u-image-5 {
    height: 344px;
    margin-top: 10px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-4 .u-group-1 {
    width: 130px;
    min-height: 50px;
    margin-top: -329px;
    margin-right: 20px;
    margin-left: auto;
  }

  .u-section-4 .u-container-layout-1 {
    padding-top: 1px;
    padding-bottom: 3px;
  }

  .u-section-4 .u-text-6 {
    margin-top: 1px;
    margin-left: -1px;
    margin-right: -1px;
  }

  .u-section-4 .u-group-2 {
    width: 107px;
    min-height: 34px;
    margin-top: 62px;
    margin-left: 52px;
  }

  .u-section-4 .u-group-3 {
    width: 208px;
    margin-top: 37px;
    margin-right: 24px;
    margin-left: auto;
  }

  .u-section-4 .u-container-layout-3 {
    padding-left: 0;
    padding-right: 0;
  }

  .u-section-4 .u-text-8 {
    margin-right: 28px;
    margin-left: 18px;
  }

  .u-section-4 .u-group-4 {
    width: 146px;
    min-height: 28px;
    margin-top: -113px;
    margin-right: 0;
    margin-left: auto;
  }

  .u-section-4 .u-container-layout-4 {
    padding-top: 0;
    padding-bottom: 4px;
  }

  .u-section-4 .u-text-9 {
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-4 .u-text-10 {
    margin: 194px auto 11px;
  }

  .u-section-4 .u-group-5 {
    width: 200px;
    min-height: 28px;
    margin: -66px 0 0 auto;
  }

  .u-section-4 .u-container-layout-5 {
    padding-top: 1px;
    padding-bottom: 1px;
  }

  .u-section-4 .u-text-11 {
    margin-left: 14px;
    margin-right: 14px;
  }

  .u-section-4 .u-line-1 {
    left: 79px;
    top: 1233px;
  }
}.u-section-5 {
  background-image: linear-gradient(#adcce9, #adcce9);
}

.u-section-5 .u-sheet-1 {
  min-height: 965px;
}

.u-section-5 .u-text-1 {
  font-size: 1.25rem;
  margin: 20px 660px 0 0;
}

.u-section-5 .u-image-1 {
  width: 570px;
  height: 244px;
  margin: 30px auto 0;
}

.u-section-5 .u-text-2 {
  font-size: 1.25rem;
  margin: 30px 540px 0 0;
}

.u-section-5 .u-image-2 {
  width: 115px;
  height: 45px;
  margin: -38px auto 0 82px;
}

.u-section-5 .u-image-3 {
  width: 512px;
  height: 481px;
  margin: 30px auto 0;
}

.u-section-5 .u-group-1 {
  width: 178px;
  background-image: none;
  min-height: 51px;
  margin: -129px auto 0 37px;
}

.u-section-5 .u-container-layout-1 {
  padding: 15px 30px 5px;
}

.u-section-5 .u-text-3 {
  font-size: 0.75rem;
  margin: 0 auto;
}

.u-section-5 .u-group-2 {
  width: 155px;
  background-image: none;
  min-height: 44px;
  margin: -244px 139px 0 auto;
}

.u-section-5 .u-container-layout-2 {
  padding: 7px 30px 13px;
}

.u-section-5 .u-text-4 {
  margin-top: 0;
  font-size: 0.75rem;
  margin-bottom: 0;
}

.u-section-5 .u-line-1 {
  transform-origin: right center 0px;
  left: auto;
  top: 597px;
  position: absolute;
  width: 335px;
  right: 294px;
  transform: rotate(349deg);
}

.u-section-5 .u-line-2 {
  transform-origin: left center 0px;
  left: 213px;
  top: 801px;
  position: absolute;
  width: 157px;
  transform: rotate(6deg);
}

.u-section-5 .u-text-5 {
  font-size: 0.75rem;
  width: 133px;
  margin: 298px auto 20px;
}

@media (max-width: 1199px) {
  .u-section-5 .u-sheet-1 {
    min-height: 939px;
  }

  .u-section-5 .u-text-1 {
    margin-right: 460px;
  }

  .u-section-5 .u-text-2 {
    margin-right: 340px;
  }

  .u-section-5 .u-group-1 {
    width: 138px;
    min-height: 33px;
    margin-top: -149px;
    margin-left: 39px;
  }

  .u-section-5 .u-container-layout-1 {
    padding-top: 4px;
  }

  .u-section-5 .u-text-3 {
    margin-top: 1px;
  }

  .u-section-5 .u-group-2 {
    width: 121px;
    min-height: 32px;
    margin-top: -194px;
    margin-right: 349px;
  }

  .u-section-5 .u-container-layout-2 {
    padding: 2px 22px 1px 17px;
  }

  .u-section-5 .u-text-4 {
    margin-top: 1px;
  }

  .u-section-5 .u-line-1 {
    left: 400px;
    top: 627px;
    width: 70px;
    transform: rotate(327deg);
  }

  .u-section-5 .u-line-2 {
    left: 136px;
    top: 789px;
    width: 145px;
    transform: rotate(13deg);
  }

  .u-section-5 .u-text-5 {
    margin-top: 284px;
    margin-bottom: 7px;
  }
}

@media (max-width: 991px) {
  .u-section-5 .u-text-1 {
    margin-right: 240px;
  }

  .u-section-5 .u-text-2 {
    margin-right: 120px;
  }
}

@media (max-width: 767px) {
  .u-section-5 .u-sheet-1 {
    min-height: 926px;
  }

  .u-section-5 .u-text-1 {
    margin-right: 60px;
  }

  .u-section-5 .u-image-1 {
    width: 540px;
    height: 231px;
  }

  .u-section-5 .u-text-2 {
    margin-right: 0;
  }

  .u-section-5 .u-group-1 {
    margin-top: 20px;
    margin-left: auto;
  }

  .u-section-5 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-5 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-5 .u-sheet-1 {
    min-height: 725px;
  }

  .u-section-5 .u-text-1 {
    margin-top: 1px;
    margin-right: 0;
  }

  .u-section-5 .u-image-1 {
    width: 340px;
    height: 145px;
  }

  .u-section-5 .u-image-2 {
    margin-top: -73px;
    margin-left: 79px;
  }

  .u-section-5 .u-image-3 {
    width: 340px;
    height: 319px;
    margin-top: 65px;
  }

  .u-section-5 .u-group-1 {
    width: 98px;
    min-height: 32px;
    margin-top: -76px;
    margin-right: 104px;
  }

  .u-section-5 .u-container-layout-1 {
    padding-bottom: 4px;
  }

  .u-section-5 .u-text-3 {
    margin-top: 0;
  }

  .u-section-5 .u-group-2 {
    width: 98px;
    min-height: 26px;
    margin-top: -165px;
    margin-right: 72px;
  }

  .u-section-5 .u-text-4 {
    margin-top: 0;
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-5 .u-line-1 {
    left: 79px;
    top: 629px;
    width: 58px;
    transform: rotate(354deg);
  }

  .u-section-5 .u-line-2 {
    left: 134px;
    top: 523px;
    width: 47px;
    transform: rotate(325deg);
  }

  .u-section-5 .u-text-5 {
    margin-top: 199px;
    margin-bottom: 1px;
  }
}.u-section-6 {
  background-image: linear-gradient(#adcce9, #77aad9);
}

.u-section-6 .u-sheet-1 {
  min-height: 1210px;
}

.u-section-6 .u-text-1 {
  font-size: 2.25rem;
  margin: 20px 756px 0 0;
}

.u-section-6 .u-text-2 {
  margin: 4px 125px 0 0;
}

.u-section-6 .u-layout-wrap-1 {
  margin-top: 0;
  margin-bottom: 0;
  margin-left: 0;
}

.u-section-6 .u-layout-cell-1 {
  min-height: 500px;
  background-image: none;
}

.u-section-6 .u-container-layout-1 {
  padding: 30px;
}

.u-section-6 .u-text-3 {
  font-size: 1.25rem;
  margin: 62px 0 0 4px;
}

.u-section-6 .u-text-4 {
  font-size: 1.25rem;
  margin: 94px 0 0 -4px;
}

.u-section-6 .u-layout-cell-2 {
  min-height: 500px;
}

.u-section-6 .u-container-layout-2 {
  padding: 30px;
}

.u-section-6 .u-image-1 {
  width: 570px;
  height: 392px;
  margin: -30px -26px 0;
}

.u-section-6 .u-text-5 {
  font-size: 0.75rem;
  margin: 19px 214px 0 234px;
}

.u-section-6 .u-layout-wrap-2 {
  margin: -28px -18px 0 0;
}

.u-section-6 .u-layout-cell-3 {
  min-height: 406px;
}

.u-section-6 .u-container-layout-3 {
  padding: 30px;
}

.u-section-6 .u-image-2 {
  width: 341px;
  height: 20px;
  margin: 61px 130px 0 auto;
}

.u-section-6 .u-image-3 {
  width: 284px;
  height: 18px;
  margin: 19px auto 0 125px;
}

.u-section-6 .u-text-6 {
  font-size: 1.25rem;
  margin: 55px 0 0;
}

.u-section-6 .u-layout-cell-4 {
  min-height: 200px;
}

.u-section-6 .u-container-layout-4 {
  padding: 30px;
}

.u-section-6 .u-text-7 {
  font-size: 1.25rem;
  margin: 45px 0 0;
}

.u-section-6 .u-layout-cell-5 {
  min-height: 200px;
}

.u-section-6 .u-container-layout-5 {
  padding: 30px;
}

.u-section-6 .u-text-8 {
  font-size: 1.25rem;
  margin: 0 -9px 0 0;
}

.u-section-6 .u-layout-wrap-3 {
  margin-top: -1px;
  margin-bottom: 0;
  margin-left: 0;
}

.u-section-6 .u-layout-cell-6 {
  min-height: 139px;
}

.u-section-6 .u-container-layout-6 {
  padding: 30px 30px 8px;
}

.u-section-6 .u-text-9 {
  font-size: 1.25rem;
  margin: 0;
}

.u-section-6 .u-text-10 {
  font-size: 1.25rem;
  margin: 31px -12px 0 0;
}

.u-section-6 .u-layout-cell-7 {
  min-height: 139px;
}

.u-section-6 .u-container-layout-7 {
  padding: 30px 30px 0;
}

.u-section-6 .u-image-4 {
  width: 222px;
  height: 23px;
  margin: 5px auto 0;
}

.u-section-6 .u-image-5 {
  width: 78px;
  height: 22px;
  margin: 40px auto 0;
}

.u-section-6 .u-layout-wrap-4 {
  margin-top: -3px;
  margin-bottom: 10px;
}

.u-section-6 .u-layout-cell-8 {
  min-height: 134px;
}

.u-section-6 .u-container-layout-8 {
  padding: 35px 30px 30px;
}

.u-section-6 .u-image-6 {
  width: 428px;
  height: 54px;
  margin: 0 16px 0 auto;
}

.u-section-6 .u-layout-cell-9 {
  min-height: 134px;
}

.u-section-6 .u-container-layout-9 {
  padding: 30px;
}

.u-section-6 .u-text-11 {
  font-size: 1.25rem;
  margin: 0;
}

@media (max-width: 1199px) {
  .u-section-6 .u-sheet-1 {
    min-height: 1096px;
  }

  .u-section-6 .u-text-1 {
    margin-right: 556px;
  }

  .u-section-6 .u-text-2 {
    margin-top: 20px;
    margin-right: 556px;
  }

  .u-section-6 .u-layout-wrap-1 {
    margin-top: 16px;
    margin-left: initial;
  }

  .u-section-6 .u-layout-cell-1 {
    min-height: 392px;
  }

  .u-section-6 .u-text-3 {
    margin-top: -22px;
    margin-left: 0;
  }

  .u-section-6 .u-text-4 {
    margin-left: 0;
  }

  .u-section-6 .u-layout-cell-2 {
    min-height: 392px;
  }

  .u-section-6 .u-image-1 {
    width: 411px;
    height: 283px;
    margin-top: -23px;
    margin-right: auto;
    margin-left: 0;
  }

  .u-section-6 .u-text-5 {
    width: 81px;
    margin: 16px auto -9px;
  }

  .u-section-6 .u-layout-wrap-2 {
    margin-top: 0;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-6 .u-layout-cell-3 {
    min-height: 280px;
  }

  .u-section-6 .u-container-layout-3 {
    padding-top: 29px;
    padding-bottom: 14px;
  }

  .u-section-6 .u-image-2 {
    margin-top: 2px;
    margin-right: auto;
    margin-left: 0;
  }

  .u-section-6 .u-image-3 {
    margin-top: 31px;
    margin-left: 0;
  }

  .u-section-6 .u-text-6 {
    margin-top: 5px;
  }

  .u-section-6 .u-layout-cell-4 {
    min-height: 134px;
  }

  .u-section-6 .u-container-layout-4 {
    padding-top: 11px;
  }

  .u-section-6 .u-text-7 {
    margin-top: 5px;
  }

  .u-section-6 .u-layout-cell-5 {
    min-height: 146px;
  }

  .u-section-6 .u-text-8 {
    margin-right: 0;
  }

  .u-section-6 .u-layout-wrap-3 {
    margin-top: -2px;
    margin-left: initial;
  }

  .u-section-6 .u-layout-cell-6 {
    min-height: 170px;
  }

  .u-section-6 .u-container-layout-6 {
    padding-bottom: 7px;
  }

  .u-section-6 .u-text-10 {
    margin-top: 3px;
    margin-right: 0;
  }

  .u-section-6 .u-layout-cell-7 {
    min-height: 170px;
  }

  .u-section-6 .u-container-layout-7 {
    padding-bottom: 20px;
  }

  .u-section-6 .u-image-5 {
    margin-top: 61px;
    margin-left: 158px;
  }

  .u-section-6 .u-layout-wrap-4 {
    margin-bottom: 0;
  }

  .u-section-6 .u-layout-cell-8 {
    min-height: 110px;
  }

  .u-section-6 .u-image-6 {
    width: 394px;
    height: 50px;
    margin-right: 0;
  }

  .u-section-6 .u-layout-cell-9 {
    min-height: 110px;
  }
}

@media (max-width: 991px) {
  .u-section-6 .u-sheet-1 {
    min-height: 890px;
  }

  .u-section-6 .u-text-1 {
    margin-right: 336px;
  }

  .u-section-6 .u-text-2 {
    margin-right: 336px;
  }

  .u-section-6 .u-layout-wrap-1 {
    margin-top: 20px;
    margin-left: initial;
  }

  .u-section-6 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-6 .u-layout-cell-2 {
    min-height: 100px;
  }

  .u-section-6 .u-image-1 {
    width: 293px;
    height: 202px;
  }

  .u-section-6 .u-text-5 {
    margin-top: -31px;
    margin-right: 44px;
    margin-left: 606px;
  }

  .u-section-6 .u-layout-wrap-2 {
    position: relative;
    margin-top: 311px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-6 .u-layout-cell-3 {
    min-height: 100px;
  }

  .u-section-6 .u-image-2 {
    width: 336px;
    margin-top: 72px;
  }

  .u-section-6 .u-text-6 {
    margin-top: 20px;
    margin-left: 52px;
    margin-right: auto;
  }

  .u-section-6 .u-layout-cell-4 {
    min-height: 100px;
  }

  .u-section-6 .u-layout-cell-5 {
    min-height: 100px;
  }

  .u-section-6 .u-layout-wrap-3 {
    position: relative;
    margin-left: initial;
  }

  .u-section-6 .u-layout-cell-6 {
    min-height: 100px;
  }

  .u-section-6 .u-layout-cell-7 {
    min-height: 130px;
  }

  .u-section-6 .u-layout-cell-8 {
    min-height: 84px;
  }

  .u-section-6 .u-container-layout-8 {
    padding-top: 30px;
  }

  .u-section-6 .u-image-6 {
    width: 288px;
    height: 37px;
  }

  .u-section-6 .u-layout-cell-9 {
    min-height: 100px;
  }
}

@media (max-width: 767px) {
  .u-section-6 .u-sheet-1 {
    min-height: 1341px;
  }

  .u-section-6 .u-text-1 {
    margin-right: 156px;
  }

  .u-section-6 .u-text-2 {
    margin-top: 128px;
    margin-right: 0;
  }

  .u-section-6 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-6 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-6 .u-text-5 {
    margin-right: 0;
    margin-left: 470px;
  }

  .u-section-6 .u-layout-wrap-2 {
    margin-top: 693px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-6 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-6 .u-image-2 {
    margin-top: -24px;
  }

  .u-section-6 .u-text-6 {
    margin-top: 5px;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-6 .u-container-layout-4 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-6 .u-container-layout-5 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-6 .u-container-layout-6 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-6 .u-layout-cell-7 {
    min-height: 195px;
  }

  .u-section-6 .u-container-layout-7 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-6 .u-layout-cell-8 {
    min-height: 130px;
  }

  .u-section-6 .u-container-layout-8 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-6 .u-container-layout-9 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-6 .u-sheet-1 {
    min-height: 1944px;
  }

  .u-section-6 .u-text-1 {
    margin-right: 0;
  }

  .u-section-6 .u-text-2 {
    margin-top: 0;
  }

  .u-section-6 .u-layout-wrap-1 {
    margin-top: 5px;
    margin-left: initial;
  }

  .u-section-6 .u-layout-cell-1 {
    min-height: 285px;
  }

  .u-section-6 .u-container-layout-1 {
    padding-top: 18px;
  }

  .u-section-6 .u-text-3 {
    margin-top: 0;
  }

  .u-section-6 .u-text-4 {
    margin-top: 10px;
  }

  .u-section-6 .u-layout-cell-2 {
    min-height: 273px;
  }

  .u-section-6 .u-image-1 {
    margin-top: -1px;
    margin-left: auto;
  }

  .u-section-6 .u-text-5 {
    margin: 11px auto 0;
  }

  .u-section-6 .u-layout-wrap-2 {
    margin-top: -3px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-6 .u-layout-cell-3 {
    min-height: 374px;
  }

  .u-section-6 .u-container-layout-3 {
    padding-top: 13px;
  }

  .u-section-6 .u-image-2 {
    height: 19px;
    margin-top: 8px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-6 .u-image-3 {
    margin-top: 25px;
    margin-left: auto;
  }

  .u-section-6 .u-text-6 {
    margin-top: 15px;
  }

  .u-section-6 .u-layout-cell-4 {
    min-height: 126px;
  }

  .u-section-6 .u-layout-cell-5 {
    min-height: 166px;
  }

  .u-section-6 .u-layout-wrap-3 {
    margin-top: -1px;
    margin-left: initial;
  }

  .u-section-6 .u-layout-cell-7 {
    min-height: 113px;
  }

  .u-section-6 .u-image-5 {
    margin-top: 20px;
    margin-left: auto;
  }

  .u-section-6 .u-layout-wrap-4 {
    margin-top: 0;
  }

  .u-section-6 .u-layout-cell-8 {
    min-height: 85px;
  }

  .u-section-6 .u-container-layout-8 {
    padding-top: 9px;
  }

  .u-section-6 .u-image-6 {
    margin-top: 1px;
    margin-right: auto;
  }

  .u-section-6 .u-layout-cell-9 {
    min-height: 118px;
  }

  .u-section-6 .u-container-layout-9 {
    padding-bottom: 8px;
  }

  .u-section-6 .u-text-11 {
    margin-top: -16px;
    margin-left: auto;
  }
}.u-section-7 {
  background-image: linear-gradient(#77aad9, #77aad9);
}

.u-section-7 .u-sheet-1 {
  min-height: 557px;
}

.u-section-7 .u-layout-wrap-1 {
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-7 .u-layout-cell-1 {
  min-height: 200px;
}

.u-section-7 .u-container-layout-1 {
  padding: 30px;
}

.u-section-7 .u-text-1 {
  font-size: 1.25rem;
  margin: 0 114px 0 0;
}

.u-section-7 .u-layout-cell-2 {
  min-height: 200px;
}

.u-section-7 .u-container-layout-2 {
  padding: 30px;
}

.u-section-7 .u-image-1 {
  width: 579px;
  height: 140px;
  margin: 0 0 0 -12px;
}

.u-section-7 .u-layout-cell-3 {
  min-height: 200px;
}

.u-section-7 .u-container-layout-3 {
  padding: 30px;
}

.u-section-7 .u-image-2 {
  width: 413px;
  height: 142px;
  margin: -21px 42px 0 auto;
}

.u-section-7 .u-layout-cell-4 {
  min-height: 200px;
}

.u-section-7 .u-container-layout-4 {
  padding: 30px;
}

.u-section-7 .u-text-2 {
  font-size: 1.25rem;
  margin: 0;
}

.u-section-7 .u-layout-wrap-2 {
  margin-top: 2px;
  margin-bottom: 0;
}

.u-section-7 .u-layout-cell-5 {
  min-height: 53px;
}

.u-section-7 .u-container-layout-5 {
  padding: 11px 30px 10px;
}

.u-section-7 .u-text-3 {
  font-size: 1.25rem;
  margin: 0;
}

.u-section-7 .u-layout-cell-6 {
  min-height: 53px;
}

.u-section-7 .u-container-layout-6 {
  padding: 11px 30px 16px;
}

.u-section-7 .u-image-3 {
  width: 383px;
  height: 26px;
  margin: 0 auto;
}

.u-section-7 .u-layout-wrap-3 {
  margin: 1px -10px 60px auto;
}

.u-section-7 .u-layout-cell-7 {
  min-height: 42px;
}

.u-section-7 .u-container-layout-7 {
  padding: 4px 30px 3px;
}

.u-section-7 .u-text-4 {
  font-size: 1.25rem;
  margin: 0 -30px 0 0;
}

.u-section-7 .u-layout-cell-8 {
  min-height: 42px;
}

.u-section-7 .u-container-layout-8 {
  padding: 4px 30px 0;
}

.u-section-7 .u-image-4 {
  height: 34px;
  width: 500px;
  margin: 1px auto 0 0;
}

@media (max-width: 1199px) {
  .u-section-7 .u-sheet-1 {
    min-height: 546px;
  }

  .u-section-7 .u-layout-wrap-1 {
    position: relative;
  }

  .u-section-7 .u-layout-cell-1 {
    min-height: 165px;
  }

  .u-section-7 .u-text-1 {
    margin-right: 21px;
  }

  .u-section-7 .u-layout-cell-2 {
    min-height: 188px;
  }

  .u-section-7 .u-image-1 {
    width: 255px;
    height: 57px;
    margin-right: 77px;
    margin-left: auto;
  }

  .u-section-7 .u-layout-cell-3 {
    min-height: 179px;
  }

  .u-section-7 .u-image-2 {
    height: 141px;
    margin-top: -11px;
    margin-bottom: -11px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-7 .u-layout-cell-4 {
    min-height: 165px;
  }

  .u-section-7 .u-layout-cell-5 {
    min-height: 44px;
  }

  .u-section-7 .u-layout-cell-6 {
    min-height: 44px;
  }

  .u-section-7 .u-layout-wrap-3 {
    margin-bottom: 20px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-7 .u-layout-cell-7 {
    min-height: 35px;
  }

  .u-section-7 .u-text-4 {
    margin-right: 0;
  }

  .u-section-7 .u-layout-cell-8 {
    min-height: 35px;
  }

  .u-section-7 .u-image-4 {
    height: 28px;
    width: 410px;
  }
}

@media (max-width: 991px) {
  .u-section-7 .u-sheet-1 {
    min-height: 858px;
  }

  .u-section-7 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-7 .u-text-1 {
    margin-right: 0;
  }

  .u-section-7 .u-layout-cell-2 {
    min-height: 144px;
  }

  .u-section-7 .u-image-1 {
    margin-right: 69px;
  }

  .u-section-7 .u-layout-cell-3 {
    min-height: 137px;
  }

  .u-section-7 .u-image-2 {
    height: 103px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-7 .u-layout-cell-4 {
    min-height: 100px;
  }

  .u-section-7 .u-layout-cell-5 {
    min-height: 100px;
  }

  .u-section-7 .u-layout-cell-6 {
    min-height: 34px;
  }

  .u-section-7 .u-image-3 {
    width: 300px;
    height: 20px;
  }

  .u-section-7 .u-layout-cell-7 {
    min-height: 100px;
  }

  .u-section-7 .u-layout-cell-8 {
    min-height: 27px;
  }

  .u-section-7 .u-image-4 {
    height: 20px;
    width: 300px;
  }
}

@media (max-width: 767px) {
  .u-section-7 .u-sheet-1 {
    min-height: 1589px;
  }

  .u-section-7 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-7 .u-layout-cell-2 {
    min-height: 203px;
  }

  .u-section-7 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-7 .u-layout-cell-3 {
    min-height: 206px;
  }

  .u-section-7 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-7 .u-container-layout-4 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-7 .u-container-layout-5 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-7 .u-layout-cell-6 {
    min-height: 51px;
  }

  .u-section-7 .u-container-layout-6 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-7 .u-container-layout-7 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-7 .u-layout-cell-8 {
    min-height: 41px;
  }

  .u-section-7 .u-container-layout-8 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-7 .u-sheet-1 {
    min-height: 898px;
  }

  .u-section-7 .u-layout-cell-1 {
    min-height: 188px;
  }

  .u-section-7 .u-layout-cell-2 {
    min-height: 128px;
  }

  .u-section-7 .u-image-1 {
    margin-right: auto;
  }

  .u-section-7 .u-layout-cell-3 {
    min-height: 141px;
  }

  .u-section-7 .u-layout-cell-4 {
    min-height: 124px;
  }

  .u-section-7 .u-layout-cell-6 {
    min-height: 32px;
  }

  .u-section-7 .u-layout-wrap-3 {
    margin-bottom: 24px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-7 .u-layout-cell-7 {
    min-height: 69px;
  }

  .u-section-7 .u-layout-cell-8 {
    min-height: 26px;
  }

  .u-section-7 .u-image-4 {
    margin-top: 0;
    margin-left: auto;
    margin-bottom: 4px;
  }
}.u-section-8 {
  background-image: linear-gradient(#77aad9, #77aad9);
}

.u-section-8 .u-sheet-1 {
  min-height: 821px;
}

.u-section-8 .u-line-1 {
  left: auto;
  top: 319px;
  transform-origin: center bottom 0px;
  position: absolute;
  height: 67px;
  right: 539px;
  transform: rotate(25deg);
}

.u-section-8 .u-text-1 {
  font-size: 2.25rem;
  margin: 20px auto 0 0;
}

.u-section-8 .u-text-2 {
  font-size: 1.25rem;
  margin: 20px 0 0;
}

.u-section-8 .u-image-1 {
  width: 683px;
  height: 32px;
  margin: 20px auto 0;
}

.u-section-8 .u-image-2 {
  width: 570px;
  height: 113px;
  margin: 68px auto 0 273px;
}

.u-section-8 .u-shape-1 {
  width: 564px;
  height: 36px;
  background-image: none;
  margin: -123px auto 0;
}

.u-section-8 .u-text-3 {
  width: 258px;
  margin: 97px auto 0;
}

.u-section-8 .u-text-4 {
  font-size: 1.25rem;
  margin: 20px 0 0;
}

.u-section-8 .u-text-5 {
  font-size: 1.25rem;
  margin: 20px 0 0;
}

.u-section-8 .u-shape-2 {
  width: 19px;
  height: 19px;
  margin: -120px auto 60px 36px;
}

@media (max-width: 1199px) {
  .u-section-8 .u-sheet-1 {
    min-height: 836px;
  }

  .u-section-8 .u-image-2 {
    margin-left: auto;
  }

  .u-section-8 .u-text-4 {
    margin-top: 42px;
  }

  .u-section-8 .u-shape-2 {
    margin-top: -153px;
  }
}

@media (max-width: 991px) {
  .u-section-8 .u-sheet-1 {
    min-height: 923px;
  }
}

@media (max-width: 767px) {
  .u-section-8 .u-sheet-1 {
    min-height: 1106px;
  }

  .u-section-8 .u-image-1 {
    width: 540px;
    height: 25px;
  }

  .u-section-8 .u-image-2 {
    width: 540px;
    height: 107px;
  }

  .u-section-8 .u-shape-1 {
    width: 540px;
    height: 34px;
    margin-top: -117px;
  }
}

@media (max-width: 575px) {
  .u-section-8 .u-sheet-1 {
    min-height: 1410px;
  }

  .u-section-8 .u-line-1 {
    top: 573px;
    height: 56px;
    width: 3px;
    right: 167px;
  }

  .u-section-8 .u-image-1 {
    width: 340px;
    height: 16px;
  }

  .u-section-8 .u-image-2 {
    width: 340px;
    height: 67px;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-8 .u-shape-1 {
    width: 340px;
    height: 21px;
    margin-top: -77px;
  }

  .u-section-8 .u-shape-2 {
    margin-top: -439px;
  }
}.u-section-9 {
  background-image: linear-gradient(#77aad9, #77aad9);
}

.u-section-9 .u-sheet-1 {
  min-height: 1051px;
}

.u-section-9 .u-text-1 {
  font-size: 2.25rem;
  margin: 12px 940px 0 0;
}

.u-section-9 .u-text-2 {
  margin: 0;
}

.u-section-9 .u-image-1 {
  width: 570px;
  height: 37px;
  margin: -792px auto 0 0;
}

.u-section-9 .u-image-2 {
  width: 461px;
  height: 56px;
  margin: 214px auto 0 0;
}

.u-section-9 .u-image-3 {
  width: 523px;
  height: 56px;
  margin: -189px auto 0 0;
}

.u-section-9 .u-image-4 {
  width: 556px;
  height: 38px;
  margin: 522px auto 0 0;
}

.u-section-9 .u-image-5 {
  width: 570px;
  height: 107px;
  margin: -226px auto 0 0;
}

.u-section-9 .u-image-6 {
  width: 566px;
  height: 37px;
  margin: -226px auto 60px 0;
}

@media (max-width: 1199px) {
  .u-section-9 .u-text-1 {
    margin-right: 740px;
  }
}

@media (max-width: 991px) {
  .u-section-9 .u-sheet-1 {
    min-height: 1054px;
  }

  .u-section-9 .u-text-1 {
    margin-right: 520px;
  }
}

@media (max-width: 767px) {
  .u-section-9 .u-sheet-1 {
    min-height: 1079px;
  }

  .u-section-9 .u-text-1 {
    margin-right: 340px;
  }

  .u-section-9 .u-image-1 {
    width: 540px;
    height: 35px;
  }

  .u-section-9 .u-image-4 {
    width: 540px;
    height: 37px;
  }

  .u-section-9 .u-image-5 {
    width: 540px;
    height: 101px;
    margin-top: -225px;
  }

  .u-section-9 .u-image-6 {
    width: 540px;
    height: 35px;
    margin-top: -220px;
  }
}

@media (max-width: 575px) {
  .u-section-9 .u-sheet-1 {
    min-height: 1232px;
  }

  .u-section-9 .u-text-1 {
    margin-right: 140px;
  }

  .u-section-9 .u-image-1 {
    height: 22px;
    margin-top: -842px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-9 .u-image-2 {
    height: 41px;
    margin-top: 244px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-9 .u-image-3 {
    height: 36px;
    margin-top: -181px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-9 .u-image-4 {
    height: 23px;
    margin-top: 575px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-9 .u-image-5 {
    height: 64px;
    margin-top: -194px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-9 .u-image-6 {
    height: 22px;
    margin-top: -226px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }
}.u-section-10 {
  background-image: linear-gradient(#77aad9, #4c7397);
}

.u-section-10 .u-sheet-1 {
  min-height: 50vw;
}

.u-section-10 .u-text-1 {
  font-size: 2.25rem;
  margin: 10px 853px 0 0;
}

.u-section-10 .u-text-2 {
  font-size: 1.25rem;
  margin: 0;
}

.u-section-10 .u-image-1 {
  width: 488px;
  height: 97px;
  margin: 10px auto 0;
}

.u-section-10 .u-text-3 {
  font-size: 1.25rem;
  margin: 10px 0 0;
}

.u-section-10 .u-image-2 {
  width: 496px;
  height: 45px;
  margin: 11px auto 0;
}

.u-section-10 .u-text-4 {
  font-size: 1.25rem;
  margin: 10px 0 0;
}

.u-section-10 .u-image-3 {
  width: 481px;
  height: 41px;
  margin: 10px auto 0;
}

.u-section-10 .u-text-5 {
  font-size: 1.25rem;
  margin: 10px 0 0;
}

.u-section-10 .u-image-4 {
  width: 570px;
  height: 17px;
  margin: 24px auto 0;
}

.u-section-10 .u-text-6 {
  font-size: 1.25rem;
  margin: 24px 0 0;
}

.u-section-10 .u-image-5 {
  width: 558px;
  height: 17px;
  margin: 10px auto 27px;
}

@media (max-width: 1199px) {
  .u-section-10 .u-sheet-1 {
    min-height: 829px;
  }

  .u-section-10 .u-text-1 {
    margin-right: 653px;
  }

  .u-section-10 .u-image-5 {
    margin-bottom: 24px;
  }
}

@media (max-width: 991px) {
  .u-section-10 .u-text-1 {
    margin-right: 433px;
  }

  .u-section-10 .u-text-2 {
    margin-top: 20px;
    margin-right: 433px;
  }
}

@media (max-width: 767px) {
  .u-section-10 .u-sheet-1 {
    min-height: 827px;
  }

  .u-section-10 .u-text-1 {
    margin-right: 253px;
  }

  .u-section-10 .u-text-2 {
    margin-right: 253px;
  }

  .u-section-10 .u-image-4 {
    width: 540px;
    height: 16px;
  }

  .u-section-10 .u-image-5 {
    width: 540px;
    height: 16px;
  }
}

@media (max-width: 575px) {
  .u-section-10 .u-sheet-1 {
    min-height: 760px;
  }

  .u-section-10 .u-text-1 {
    margin-right: 53px;
  }

  .u-section-10 .u-text-2 {
    margin-right: 53px;
  }

  .u-section-10 .u-image-1 {
    width: 340px;
    height: 68px;
  }

  .u-section-10 .u-image-2 {
    width: 340px;
    height: 31px;
  }

  .u-section-10 .u-image-3 {
    width: 340px;
    height: 29px;
  }

  .u-section-10 .u-image-4 {
    width: 340px;
    height: 10px;
  }

  .u-section-10 .u-image-5 {
    width: 340px;
    height: 10px;
  }
}